.error {
  color: #b4494d;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.formInput {
  padding: 8px;
  width: 15rem;
  border-radius: 8px;
  border: 0;
  background-color: #242424;
}
.formButton {
  margin-top: 20px;
  background-color: #fff;
  color: #000;
}
